<div class="post__block">
    <a href="<%= post.link %>">
    <h6 class="qp1"><%= post.date %></h6>
    <h3 class="qp2"><u><%= post.title %></u></h3>
    <h6 class="qp3">по <u><%= post.authorName %></u></h6>
    <p class="qp4"><%= post.text %></p>
    <img src="/public/imgs/strelka3.png">
    </a>
</div>